<footer>
    <div class="inner">

        <div class="main-footer__upper">
            <section>
                <div class="profile">
                    <div class="profile_icon">

                    </div>
                    <div class="name">
                        <h3><span class="txt-rotate" data-period="2000"
                                data-rotate='[ "I hope you enjoyed visiting my website.", "Come back again", "fun!" ]'></span>
                        </h3>
                    </div>
                    <div class="bio">
                        <p>Living, learning, & leveling up one day at a time.</p>
                    </div>
                </div>
            </section>

        </div>

        <div class="main-footer__lower">
            © Copyright
            <script>document.write(new Date().getFullYear())</script>. Made by
            <a rel="noreferrer" target="_blank" href="/">Themba G Chauke</a>
        </div>
    </div>
</footer>