<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>


    <script>
        var username = prompt("Enter in the username");
        var password = prompt("Enter in the password");

        if (username && password) {

            alert('Ready to go to the dashboard')

            // try {

            // const response = await fetch('/email/api/sendemail', requestOptions);
            // const responseData = await response.json();

            // if ((response.status == 400 || response.status == 422) || responseData.message == 'failed') {
            //     const { error, hint } = responseData
            //     displaySuccessMessage(false, error, hint)
            // } else {
            //     displaySuccessMessage(true)
            //     formEl.reset();
            //     console.log(responseData);
            // }
            // } catch (error) {
            //     displaySuccessMessage(false)
            // }

        }else{
            alert('Back to index page')
        }



    </script>


</head>
<body>

    <h1>Admin Page</h1>


    
</body>
</html>