<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>


    <script>
            var username = prompt("Enter in the username");
            var password = prompt("Enter in the password");

            const formData = new FormData();
            const requestData = Object.fromEntries(formData.entries());
            const xhrRequest = new XMLHttpRequest()
            const headers = new Headers({ 'Content-Type': 'application/json' });
            
            formData.append('username', username)
            formData.append('password', password)

            const requestOptions = {
              method: 'POST',
              headers,
              body: JSON.stringify(requestData)
            };    

            try {
              const response = await fetch('/user/admin', requestOptions);
              const responseData = await response.json();

            } catch (error) {
               console.log(error)
            }

    </script>


</head>
<body>

    <h1>Admin Page</h1>


    
</body>
</html>