<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <!-- Boostrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Font Awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Devicon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <link rel="stylesheet" href="/theme/main.css">
    <link rel="stylesheet" href="/theme/res_main.css">

    <link rel="stylesheet" href="/fonts/muli/Muli.ttf">

</head>

<body id="index_body" class="">

    <header>
        <div class="inner">
            <nav>
                <div class="logo">
                    <!-- <img src="/images/logo.png" width="100%" height="100%" alt="" srcset=""> -->
                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                </div>

                <ul class="links">
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="#contact_me">Contact</a></li>
                </ul>

                <div class="nav-bar">
                    <span>
                        <i id="open-btn" class="fa-solid fa-bars"></i>
                        <i id="close-btn" class="fa-solid hide-btn fa-grip-lines"></i>
                    </span>
                </div>

            </nav>

        </div>
    </header>

    <div class="side-menu" id="sidebar">
        <nav>
            <ul class="side-links">
                <li><a class="close" href="/projects">My Work</a></li>
                <li><a class="close" href="#about-me">About Me</a></li>
                <li><a class="close" href="#service">Service</a></li>
                <li><a class="close" href="#contact_me">Contact</a></li>
            </ul>
            <div class="social-media social-media-side-menu">
                <ul style="display: flex;">
                    <li><a href="https://linkedin.com/in/g-themba-chauke" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="https://twitter.com/ThembaG3"><i class="fa-brands fa-twitter-square"></i></a></li>
                    <li><a href="https://www.facebook.com/malume.jakaza"><i
                                class="fa-brands fa-facebook-square"></i></a></li>
                    <!-- <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li> -->
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="inner">
            <section class="user-details">
                <div class="details">
                    <div class="underline"></div>
                    <h1>Hello, I'm Themba </h1>
                    <h4>Software Engineer</h4>
                    <p>As a dedicated software engineer, I am passionate about creating high quality software
                        solutions
                        that meet the needs of the users. </p>
                    <p>I have a deep understanding of programming languages, framework and software development
                        methodologies, and I am always eager to learn new technologies and tools. I enjoy
                        collaborating
                        with other engineers and working in a team.</p>
                    <a href="#contact_me" class="btn hero-btn">hire me</a>

                    <div class="social-media mt-4">
                        <ul>
                            <li><a href="https://linkedin.com/in/g-themba-chauke" target="_blank"><i
                                        class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/ThembaG3"><i class="fa-brands fa-twitter-square"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/malume.jakaza"><i
                                        class="fa-brands fa-facebook-square"></i></a></li>
                            <!-- <li><a href=""><i class="fa-brands fa-instagram-square"></i></a></li> -->
                        </ul>
                    </div>
                    <p class="f-souce">CONNECT WITH ME</p>
                </div>
            </section>
            <section class="user-profile">
                <div class="user-profile-pic">
                    <div class="handsome">
                    </div>
                </div>
                <div class="line">
                </div>
            </section>
        </div>
    </main>


    <section class="about_me" id="about-me">
        <div class="inner">
            <div class="title">
                <h1 class="heading-sec__main">About Me
                </h1>
            </div>
            <div class="sub-heading">
                <p>Here you will find more information about me, what I do, and my current skills mostly in terms of
                    programming and technology</p>
            </div>

            <div class="about__content">

                <section class="about__content-main">
                    <h3 class="about__content-title">Get to know me!</h3>

                    <div class="about__content-details">
                        <p class="about__content-para">
                            As a computer science student, I have developed a strong foundation in various
                            programming
                            languages such as Java, Javascript, and NodeJS,
                            as well as a solid understanding of algorithms and data structures.
                            Through my coursework and personal projects,
                            I have gained experience in software development, database management, and web
                            development.
                            I am passionate about utilizing my skills to create innovative solutions to real-world
                            problems.
                        </p>
                        <p class="about__content-para">
                            In addition to my technical expertise, I have also developed strong problem-solving and
                            analytical skills.
                            I am comfortable working both independently and as part of a team,
                            and I enjoy collaborating with others to find creative solutions to complex problems.
                            I am also a quick learner and am always eager to expand my knowledge and skillset.
                        </p>
                        <p class="about__content-para">
                            Overall, as a computer science student, I am excited to apply my knowledge and skills to
                            make a positive impact in the world of technology.
                            I'm open to <strong>Job</strong> opportunities where I can
                            contribute, learn and grow. If you have a good opportunity that
                            matches my skills then don't hesitate to
                            <a href="#mail_form"> <strong>contact me.</strong> </a>
                        </p>

                    </div>
                </section>
                <section class="about__content-skills">
                    <h3 class="about__content-title">My Skills</h3>
                    <div class="about_skills-box">
                        <div class="skills_skill java f-souce">
                            <p> <i class="devicon-java-plain"></i> Java</p>
                        </div>
                        <div class="skills_skill android f-souce">
                            <p>
                                <i class="devicon-android-plain"></i>
                                Android
                            </p>
                        </div>
                        <div class="skills_skill javascript f-souce">
                            <p>
                                <i class="devicon-nodejs-plain"></i>
                                Node Js
                            </p>

                        </div>
                        <div class="skills_skill nodejs f-souce">
                            <p>
                                <i class="devicon-javascript-plain"></i>
                                Javascript
                            </p>
                        </div>
                        <div class="skills_skill mysql f-souce">
                            <p>
                                <i class="devicon-mysql-plain"></i>
                                SQL (Oracle)
                            </p>
                        </div>
                        <div class="skills_skill html f-souce">
                            <p>
                                <i class="devicon-html5-plain"></i>
                                HTML & CSS
                            </p>
                        </div>
                        <div class="skills_skill bootstrap f-souce">
                            <p>
                                <i class="devicon-bootstrap-plain"></i>
                                Bootstrap
                            </p>
                        </div>
                        <div class="skills_skill github f-souce">
                            <p>
                                <i class="devicon-git-plain"></i>
                                Git & Github
                            </p>
                        </div>
                        <div class="skills_skill linux f-souce">
                            <p>
                                <i class="devicon-linux-plain"></i>
                                Linux Commands
                            </p>
                        </div>
                        <div class="skills_skill mongodb f-souce">
                            <p>
                                <i class="devicon-firebase-plain"></i>
                                MongoDB & Firebase
                            </p>
                        </div>
                    </div>

                </section>
            </div>
            <a href="#mail_form" id="about-btn" class="btn btn--med btn--theme dynamicBgClr">Contact Me</a>
        </div>
    </section>


    <section class="service__container" id="service">
        <div class="inner">
            <div class="title">
                <h1 class="heading-sec__main">Services</h1>
            </div>

            <div class="service__content">

                <div class="service_main_container">
                    <section class="service_sidebar">
                        <ul>
                            <li class="service_side-btn active web">Web Dev</li>
                            <li class="service_side-btn mobile ">Mobile</li>
                            <li class="service_side-btn mentor">Mentorship</li>
                            <li class="service_side-btn">Technical writing</li>
                            <li class="service_side-btn">Freelance</li>
                        </ul>
                    </section>
                    <section class="service_details">
                        <div class="web infor">
                            <h4>Web Development</h4>
                            <small>
                                <p class="status av">Available</p>
                            </small>
                            <p><i class="fa-solid fa-hand-point-right"></i> <b>Website Design:</b> i create visually
                                appealing and user-friendly websites that align with my clients' brand and business
                                goals. This include designing the layout, color scheme, typography, and user
                                interface.
                            </p>
                            <p><i class="fa-solid fa-hand-point-right"></i> <b>Website Maintenance:</b> I provide
                                ongoing website maintenance services to ensure that my clients' websites remain
                                up-to-date, secure, and functioning smoothly.</p>
                        </div>
                        <div class="mobile infor  hide">
                            <h4>Mobile Development</h4>
                            <small>
                                <p class="status not-av">Not Available</p>
                            </small>
                            <p><i class="fa-solid fa-hand-point-right"></i><b>Designing and developing mobile
                                    applications:</b> I use my programming skills and knowledge of various mobile
                                app
                                development platforms (such as Android) to create custom mobile applications my
                                clients.
                            </p>
                        </div>

                        <div class="mentor infor hide">
                            <h4>Mentorship</h4>
                            <small>
                                <p class="status  not-av">Not Available</p>
                            </small>
                            <p><i class="fa-solid fa-hand-point-right"></i><b>One-on-one mentoring:</b> I provide
                                one-on-one mentoring to clients, answering their questions and providing guidance
                                and
                                feedback as they work through the training materials.</p>
                            <p><i class="fa-solid fa-hand-point-right"></i><b>Facilitating group learning:</b> I
                                facilitate group learning sessions, where students work together to solve problems
                                and
                                share their experiences.</p>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </section>


    <section class="project__container">
        <div class="inner">
            <div class="side-title">
                <h1 class="sub_heading-sec">Some Things I’ve Built</h1>
            </div>
            <div class="project__content">

                <div class="project__con">

                    <div class="project-image">
                        <div class="image_opacity"></div>
                        <img src="/images/testing_projects/template.png" width="100%" height="100%" alt="" srcset="">
                    </div>
                    <div class="project-details">
                        <div class="project_heading">
                            <p class="project-overline ">Featured Project</p>
                            <h3 class="project-title ">Project Title</h3>
                        </div>

                        <div class="project-description">
                            <p>A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more.
                                Available on
                                Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.</p>
                        </div>

                        <ul class="project-tech-list">
                            <li class="vscode"><i class="devicon-android-plain"></i>VS Code</li>
                            <li class="nodejs"><i class="devicon-nodejs-plain"></i>NodeJs</li>
                            <li class="html">
                                <i class="devicon-html5-plain"></i>
                                HTML
                            </li>
                            <li class="html">
                                <i class="devicon-css3-plain"></i>
                                CSS
                            </li>
                            <li class="mongodb">
                                <i class="devicon-mongodb-plain"></i>
                                MongoDB
                            </li>
                        </ul>

                        <div class="project-links">
                            <li><a href=""><i class="fa-brands project__icon fa-square-github">

                                    </i></a>

                            </li>
                            <li><a href=""><i
                                        class="fa-solid project__icon s__icon  fa-arrow-up-right-from-square"></i></a>
                            </li>
                        </div>
                    </div>

                    <div class="mobile_project-details">
                        <div class="mobile_project_heading">
                            <h1>Project Title</h1>
                        </div>
                        <div class="mobile_project-description">
                            <p>A minimal, dark blue theme for VS Code.
                        </div>

                        <ul class="mobile_project-tech-list">
                            <li class="vscode"><i class="devicon-android-plain"></i>VS Code</li>
                            <li class="nodejs"><i class="devicon-nodejs-plain"></i>NodeJs</li>
                            <li class="html">
                                <i class="devicon-html5-plain"></i>
                                HTML
                            </li>
                            <li class="html">
                                <i class="devicon-css3-plain"></i>
                                CSS
                            </li>
                            <li class="mongodb">
                                <i class="devicon-mongodb-plain"></i>
                                MongoDB
                            </li>
                        </ul>

                        <div class="mobile_project-links">
                            <button>View</button>
                            <button>Source</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="mini-project__container">
        <div class="inner">
            <div class="side-title">
                <h3 class="" style="font-size: 24px; text-align: center; padding-top: 100px;">Selected mini projects
                    I've worked on in the past.</h3>
            </div>
            <div class="mini-project__content">
                <ul class="projects-grid">

                    <li>
                        <div class="mini_project">
                            <div class="head_mini">
                                <div class="mini_logo">
                                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                                </div>
                                <div class="mini_title">
                                    <h1>Connector -J</h1>
                                </div>
                            </div>

                            <div class="inner_mini">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mini_project">
                            <div class="head_mini">
                                <div class="mini_logo">
                                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                                </div>
                                <div class="mini_title">
                                    <h1>IP Finder</h1>
                                </div>
                            </div>

                            <div class="inner_mini">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mini_project">
                            <div class="head_mini">
                                <div class="mini_logo">
                                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                                </div>
                                <div class="mini_title">
                                    <h1>Connector -J</h1>
                                </div>
                            </div>

                            <div class="inner_mini">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mini_project">
                            <div class="head_mini">
                                <div class="mini_logo">
                                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                                </div>
                                <div class="mini_title">
                                    <h1>Connector -J</h1>
                                </div>
                            </div>

                            <div class="inner_mini">

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="mini_project">
                            <div class="head_mini">
                                <div class="mini_logo">
                                    <img src="/images/logo.png" width="100%" height="100%" alt="" srcset="">
                                </div>
                                <div class="mini_title">
                                    <h1>Connector -J</h1>
                                </div>
                            </div>

                            <div class="inner_mini">

                            </div>
                        </div>
                    </li>

                </ul>
                <div style="padding: 25px 0 10px 0">
                    <h3><a href="/projects">View More</a></h3>
                </div>
            </div>
        </div>
    </section>




    <div class="contact_me-conatiner" id="contact_me">
        <div class="inner">
            <div class="title">
                <h1 class="heading-sec__main">Get In Touch</h1>
            </div>

            <div class="sub-heading">
                <h4 class="f-souce">I’m excited to learn about your project. Ready to get started</h4>
            </div>

            <div class="contact__me_form">


                <form id="mail_form" method="post" class="contact__me">
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlTextarea1" class="form-label">Name</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Your Name"
                                aria-label="First name">
                        </div>
                        <div class="col">
                            <label for="exampleFormControlTextarea1" class="form-label">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter Your Email"
                                aria-label="Last name">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label for="exampleFormControlTextarea1" class="form-label">Subject
                            </label>
                            <input type="text" name="subject" class="form-control" placeholder="Enter Subject"
                                aria-label="Subject">
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                        <textarea class="form-control" name="message" id="exampleFormControlTextarea1"
                            placeholder="Enter Your Message" rows="5"></textarea>
                    </div>

                    <div class="col-12" id="feedback_section">

                    </div>

                    <div class="col-12">
                        <button class=" btn btn-success spin-button" type="submit">
                            Send Message
                        </button>

                    </div>
                </form>

            </div>
        </div>
    </div>

    <footer>
        <div class="inner">

            <div class="main-footer__upper">
                <section>
                    <div class="profile">
                        <div class="profile_icon">

                        </div>
                        <div class="name">
                            <h3><span class="txt-rotate" data-period="2000"
                                    data-rotate='[ "I hope you enjoyed visiting my website.", "Come back again", "fun!" ]'></span>
                            </h3>
                        </div>
                        <div class="bio">
                            <p>Living, learning, & leveling up one day at a time.</p>
                        </div>
                    </div>
                </section>

            </div>

            <div class="main-footer__lower">
                © Copyright
                <script>document.write(new Date().getFullYear())</script>. Made by
                <a class="developer" rel="noreferrer" target="_blank" href="/">Themba G Chauke</a>
            </div>
        </div>
    </footer>

    <script src="/scripts/anim.js"></script>
    <script src="/scripts/controller.js"></script>

</body>

</html>