/*
    RESPONSIVE TABLATE 
*/

@media only screen and (max-width: 885px) {
    nav .links  li a {color: var(--bg-blue-5);}
    nav .logo{
        width: 3rem;
        height: 3rem;
    }
    .inner{
        width: 90%;
    }

    /*
        HERO SEC
    */
    .user-details{
        width: 62%;
    }

    .user-profile{
        width: 38%;
    }
    .user-profile-pic{
        width: 200px;
        height: 300px;
        background-color: var(--bg-blue-5);
    }



    /*
        SKILLS SEC
    */

    .skills_skill{
        min-width: 100px;
        padding: 5px 10px;
    }

    .skills_skill p i{
        display: none;
    }


    /*
        SKILLS SEC
    */
    .service_main_container{
        width: 80%;
    }

    /*
        PROJECT SEC
    */

    .project-tech-list , 
.project-links {
    margin: 15px 0px 10px;

}

    .project-links{
        position: absolute;
        bottom: 0;
        right: 5px;
        margin: 0;
        /* background-color: red; */
    }

    .project-links li{
        margin: 0 10px;
        position: relative;
    }

    .project__icon{
        color: var(--bg-blue-4);
        font-size: 30px;
    }

    

    .contact__me{
        width: 85%;
    }

    .contact__me label{
        font-weight: 500;
        font-size: 19px;
    }
    


}



/*
    RESPONSIVE SMARTPHONES  [Apple smartphones 750 to smaller]
*/



@media only screen and (max-width: 750px) {
    .inner{
        width: 95%;
    }

    main {
        background: linear-gradient(
            to bottom,
            var(--bg-black-2) 0%,
            var(--bg-black-2) 70%,
            var(--bg-blue-2) 50%,
            var(--bg-blue-2) 100%
    
          );
    }

    header{
        background: linear-gradient(
            to bottom,
            var(--bg-black-2) 0%,
            var(--bg-black-2) 100%,
            var(--bg-blue-2) 50%,
            var(--bg-blue-2) 100%
    
          );
    }

    /*
        NAVBAR SEC
    */

    nav .links{
        display: none;
    }
    nav .nav-bar{
        display: block;
    }

    /*
        MAIN SEC
    */
    main .inner {
        display: flex;
        flex-direction: column;
    }

    .user-details{
        width: 100%;
        padding: 10% 0 0 0;
    }

    .underline{
        width: 7rem;
        height: .30rem;
        margin-bottom: 1.10rem;
    }

    .details h1{
        font-weight: 500;
    }
    

    .details p{
        font-family:'Muti', sans-serif;
        font-size: 16px;
    }
    .user-profile{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .user-profile-pic{
        width: 250px;
        height: 350px;
    }

    .handsome{
        margin-top: -2.535em;
        border: 2px solid var(--bg-blue-2);
        margin-left: -1em;
        background-image: url('/public/images/profile.jpg');
    }



    /*
        ABOUT-ME SEC
    */
    .title h1{
        font-family:'Source Sans Pro', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 40px;
    }

    .heading-sec__main::after {
        height: 5px;
        width: 8rem;
        background:var(--bg-blue-2);
    }

    .about__content {
        flex-direction: column;
    }

    .about__content-main{
        width: 100%;
    }

    .about__content-skills{
        width: 100%;
    }

    #about-btn{
        display: none;
    }

    /*
        SERVICE SEC
    */

    .service_main_container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
    }

    .service_details{
        width: 100%;
        min-height: 350px;
    }

}