@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;400;500;600;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*,
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*========================COLOR VARIABLES =======================*/
:root{

    /*---------------Transitions */
    --box-shadow-1: rgb(0 0 0 / 5%) 0px 5px 10px; /* Light box shadow */

    /*---------------Transitions */
    --transition: all 0.3s linear; /* all linear transition */
    
    /*----------------Green Background */
    --c-white-1: #fff;
    --c-white-2: #ccd6f6;

    /*----------------Green Background */
    --bg-white-1: #fff;
    --bg-white-2: #ccd6f6;

    /*----------------Green Background */
    --bg-green-1: #7cb342;
    --bg-green-2: #8bc53d;
    --bg-green-4: #b6d293;
    --bg-green-5: #ccf381;

    /*----------------Black Background */
    --bg-blue-1:#4831d4;
    --bg-blue-2:#5e83e8;
    --bg-blue-3:#7e9ef5;
    --bg-blue-4:#6ba5f0;

    /*----------------Black Background */
    ---bg-black-1: #000000;
    --bg-black-2: rgb(35, 35, 35);
    --bg-black-3: rgb(51, 51, 51);
    --bg-black-4: rgb(78, 78, 78);
    --bg-black-5: rgb(86, 86, 86);
    --bg-black-6: rgb(119, 119, 119);
}

/*================================================================*/

/*=========================== GLOBAL STYLE =====================*/

a,p,h1,h2,h3,h4,h5,h6{
    color: var(--c-white-1);
    text-decoration: none;
}
li{
    list-style: none;
}

header, main {
    background: linear-gradient(
        to right,
        var(--bg-black-2) 0%,
        var(--bg-black-2) 60%,
        var(--bg-blue-2) 50%,
        var(--bg-blue-2) 100%

      );
}
.inner{
    width: 80%;
    height: auto;
    height: inherit;
    margin: 0 auto;
}
/*For Small Devices*/ 
/* header{
    background: var(--bg-black-2);
}
main {
    background: linear-gradient(
        to bottom,
        var(--bg-black-2) 0%,
        var(--bg-black-2) 60%,
        var(--bg-blue-2) 50%,
        var(--bg-blue-2) 100%
    );
} */


/*================================================================*/


/*=========================== NAV BAR ===========================*/

header{
    width: 100%;
    height: 75px;
}

/*================================================================*/


/*=========================== MAIN CONTAINER ========================*/
main{
    width: 100%;
    height: 65vh;
}

main .inner {
    display: flex;
}
main .inner section{
    height: inherit;
}

.user-details{
    width: 50%;
    padding: 5% 0 0 0;
    /* background-color: #5e83e8; */
}

.underline{
    width: 5rem;
    height: .50rem;
    margin-bottom: 1.25rem;
    background: var(--bg-blue-2);
}

.details h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.5px;
    color: var(--c-white-2);
}

.details h4{
    font-family: 'Lato', sans-serif;
}
.details p{
    font-family: 'Lato', sans-serif;
    color: var(--c-white-1);
    letter-spacing: 0.5px;
}
.details .btn {
    text-transform: uppercase;
    background: var(--bg-blue-2);
    padding: 6px 50px;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: var(--c-white-1);
    border-radius: 0.5rem;
  }
.social-media ul li a .fa-brands{
    font-size: 25px;
    padding: 5px 10px 0 0;
    color: var(--bg-blue-2);
    transition: all 0.3s linear;
}

.user-profile{
    width: 50%;
    padding: 5%;
    /* background-color: #7cb342; */
}


.user-profile-pic{
    width: 300px;
    height: 400px;
    padding: 50px 0 0 0;
    border-radius: 8px;
    background-color: #ccd6f6;
}
.handsome{
    width: inherit;
    display: block;
    height: inherit;
    margin-top: -2.435em;
    background-color: #fff;
    border-radius: 8px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-left: -2.2em;
    background-image: url(/images/profile.jpg);
}


/*================================================================*/


/*=========================== SKILLS ========================*/

/*============================================================*/


/*=========================== SERVICES ========================*/

/*============================================================*/

/*=========================== FOOTER ========================*/

/*============================================================*/